/* app.css */

#root {
  width: 100%;
  min-height: 100vh;

background: linear-gradient(145deg, #ffd86f, #ff6f61, #e64abf);


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #e9e9e9;
}


@keyframes gradientFlow {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 70%;
  }
  100% {
    background-position: 0% 30%;
  }
}
